<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutOutputDuringTests="false"
	beStrictAboutChangesToGlobalState="false"
	beStrictAboutCoversAnnotation="false"
	beStrictAboutResourceUsageDuringSmallTests="false"
	beStrictAboutTodoAnnotatedTests="false"
	beStrictAboutTestSize="false"
	beStrictAboutUnusedMocks="false"
	beStrictAboutRiskyTests="false"
	beStrictAboutTestsUsingCoversAnnotation="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod="false"
	beStrictAboutTestsUsingCoversNothing="false"
	beStrictAboutTestsUsingCoversTag="false"
	beStrictAboutTestsUsingCoversClass="false"
	beStrictAboutTestsUsingCoversFunction="false"
	beStrictAboutTestsUsingCoversMethod"false"
>
	<testsuites>
		<testsuite name="NewBytes Plugin Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes/</directory>
			<file>./woocommerce-newbytes.php</file>
			<exclude>
				<directory>./tests/</directory>
				<directory>./vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-html" target="./tests/coverage/"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	</logging>
</phpunit>